/* Colors
	Main: #37a600
	Dark: #3b552e
	light: #a0f038
	White: #f2f7f0
	Bg: #373737
	Gray: #5c5c5c
	Borders: #777
*/

/* General elements */

body {
	line-height: 1.5;
}

p {
	margin: 1em 0;
}

input[type="text"], input[type="password"] {
	min-width: 200px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

.sp-button:disabled {
	text-shadow: none;
}


/* Header */

header {
	background: #37A600;
}

header h1 {
	height: 45px;
	color: #ECEBE8;
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
	line-height: 2em;
	padding-top: 4px;
}


/* Main */

#main {
	margin: 2em;
}


/* Drop */

#dropzone {
	text-align: center;
	padding: 50px;
	border: 1px solid #000;
	background: #333333;
	color: #aaaaaa;
	font-size: 16px;
	margin-bottom: 10px;
}


/* List */



/* Feedback */
.error,
.success {
	display: none;
}

.error {
	color: #b30023;
}

.success {
	color: #37a600;
}

/* General classes */

.left {
	float: left;
	clear: left;
	min-width: 150px;
	min-height: 1px;
}

.right {
	float: left;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}